.default {
  color: #9cafb1;
  line-height: 3rem;
  vertical-align: middle;
  border-bottom: 0.2rem solid #9cafb1;
}

.default:hover{
  font-weight: bold;
  color: #113dbc;
  border-bottom: 0.2rem solid #113dbc;
}

.default.selected {
  font-weight: bold;
  color: #113dbc!important;
  border-bottom: 0.2rem solid #113dbc!important;
}
