html {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.center-x{
  display: flex;
  justify-content: center;
}

.center-y{
  display: flex;
  align-items: center;
}

.center-x-y{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-pointer{
  cursor: pointer;
}

.text-white{
  color: #fff;
}

.dark-overlay{
  background-color: rgba(0,0,0,0.5);
}

.light-overlay{
  background-color: rgba(255,255,255,0.5);
}

.text-blue{
  color: #113dbc;
}

.bold{
  font-weight: bold;
}

.br-10{
  border-radius: 10px;
}

.br-5{
  border-radius: 0.25rem;
}

.hide{
  opacity: 0;
}


.align-right{
  display: flex;
  justify-content: flex-end;
}

.bg-gray{
  background-color: #e9ebee;
}

.bg-light-gray{
  background-color: #f5f6f7;
}


.theme-color{
  color:#1877f2
}

.font-44{
  font-size: 44px;
}
